apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: kdpd00201
  labels:
    app: frontend
  name: frontend
spec:
  replicas: 4
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: lfccncf/nginx:1.13.7
        name: nginx
        env:
        - name: NGINX_PORT
          value: "8080"
        ports:
        - containerPort: 8080
            
